
/* Your CSS Code here. */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.holder{
    background-color: brown;
    height: 10vh;
    width: 100%;
    display: flex;
   
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}

/* nav{
    display: flex;
   
    align-items: center;
    justify-items: center;
    justify-content: space-between;
   
} */

ul{
    list-style: none;
}
